@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


nav {
    background-color: #E5D9F2;
    padding: 50px;
    text-align: end;
    
}

nav a {
    color: black;
    padding: 20px;
    display: inline-block;
}


img {
    width: 190px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: left;
    
}


.hero img {
	width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}


.hero {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
 }

 h1 {
    text-align: center;
 }

 h1 {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
 }

 p {
    text-align: center;
 }

h1 img {
   margin: 1rem;
   border: 1px solid rgba(0,0,0,.1);
   padding: 1rem;
   background-color: #ddd;
   color: #000;
}

 section  {
    text-align: center;
 }

 h2 {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    text-align: center;
 }

 section img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;


 }
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
 }

footer img {
    width: 75px;
    height: auto;
}


