@import url(https://fonts.google.com/specimen/Lora?preview.text=Rapids);

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #E5D9F2;
    --secondary-color: #F5EFFF;
    --accent1-color: #A594F9;
    --accent-color:  #7371FC;

    --Heading-font: 'lora', serif;
    --paragraph-font: 'DM sans', serif;

    --nav-background-color: #E5D9F2;
    --nav-link-color: #F5EFFF;
    --nav-hover-link-color: #A594F9;
    --nav-hover-background-color:  #7371FC;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Heading-font);
    color:var(--accent-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color)
}

nav a :hover {
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
}