@import url(https://fonts.google.com/specimen/Lora?preview.text=Rapids);

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #49B6FF;
    --secondary-color: #779BE7;
    --accent1-color: #A480CF;
    --accent-color: #D264B6;

    --Heading-font: 'lora', serif;
    --paragraph-font: 'DM sans', serif;

    --nav-background-color: #49B6FF;
    --nav-link-color: #779BE7;
    --nav-hover-link-color: #A480CF;
    --nav-hover-background-color: #D264B6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--Heading-font);
    color:var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color)
}

nav a :hover {
    color: var(--nav-hover-background-color);
}